@import "button.css";
@import "jquery-overrides.css";
@import "priorities.css";

body, input {font-size: 15px; color:#333333; -background-color: #FCFBF5; font-family: verdana;}

.label, .title, th, table, .button {background-color: #BBf0C0; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { color:blue !important;}
.button.recommended, .option.recommended *, .modified.text,
.datum.modified .boolean label, .datum.modified, .modified select,
select.modified, td.modified {
	color: blue;
}
.label, .title, th, tr.group {text-align:center;  color: #404040; font-weight:bold; padding:6px 6px 8px;}

input.xiSent {color:red !important; background-color: lightgray !important;}

.geolocate {margin-top: 2px;}

#geomap {display:none;height:500px;}
#geomap.shown {display:block;}

.mobile th, .mobile tr.group {font-weight:normal}

.view > .label, #session-wrapper.not-authenticated .title, #canvas > .menu .title
 { background: #f6a828 ; color: #ffffff !important; }
.ui-datepicker-trigger {border:none; background-color:transparent; padding:2px;}

.desktop .header th {font-size: 14px;}
.desktop #session-wrapper.authenticated {font-size: 15px;font-weight:normal;}
.desktop .view > .label, .desktop #canvas > .menu .title {font-size: 18px;}
.mobile #session-wrapper.authenticated {font-size:8px;}

.desktop #canvas > * {border: solid 3px #DDDDCC;
  -moz-border-radius: 6px; -webkit-border-radius: 6px;
   margin: 5px auto; position:relative;  z-index:1
}

.desktop #canvas > * {background-color: #FCFBF5;}
.desktop #canvas > .menu.not-chosen, .desktop #session-wrapper.not-authenticated, .desktop .view 
{ box-shadow:#dda3a3 0 0 10px;
	-moz-box-shadow:#dda3a3 0 0 10px;
	-webkit-box-shadow:#dda3a3 0 0 10px;
}

.ipad.desktop .view {
    box-shadow: none;
	-webkit-box-shadow: none;
}  

tr {background-color: #F0F0DD;}


.ajaxloading > .label {background: left center no-repeat url(images/ajax-loading.gif); }
.ajaxError > .label {background: left center no-repeat url(images/exclamation.gif); }

a:link, a:visited {color:#0066CC; }

.step.title, tr.group {background-color: #DDFFCC;}

 .button { border:solid 1px #707070;  -moz-border-radius: 6px; -webkit-border-radius: 6px; }
a.button {text-decoration:none; padding: 2px 6px 3px; margin-left: 2px; display:inline-block; color:#333333;}
.button.ui-icon {padding:0px; display:inline-block}
div.datum > * {vertical-align:middle;}
.desktop #canvas > .menu a.button  { }

.button:active, .button:hover {background-color: #BBCFB4;}
.button:hover {color: #207020 !important;}
.desktop a.button:active, .button:active {color: yellow !important;}

input.date {text-align:center;}

.desktop.not-ie input.text {
    padding:3px 3px;  border: none;
    -moz-box-shadow: inset #dda3a3 1px 2px 4px;
    -webkit-box-shadow: inset #dda3a3 1px 2px 4px;
}

.datum label {color: #707070}
.datum.input label {color: #208020}

input {margin:0px;}

#session-wrapper.not-authenticated {margin:60px auto 0px; width:320px;}
#session-wrapper.not-authenticated label {text-align:right; width:30%; display:block; float:left; margin: 3px;}
#session-wrapper.not-authenticated .field input {width:60%;}
#session-wrapper.not-authenticated form > div, #canvas > .menu div.option {margin:8px auto;}
form > div, div.button, div.option {text-align: center; }
div.button, div.option {margin:4px;}
    
#session-wrapper.not-authenticated form {padding: 4px;}
/*
#session-wrapper.authenticated {margin:0px; padding:0px; text-align:right;}
#session-wrapper.authenticated {border:none; background-color:inherit;}
#session-wrapper.authenticated > div { display: inline; }
#-session-wrapper.authenticated input.button {text-decoration: underline;}
*/

.-menu {line-height: 200%;}

.menu .title {line-height: 125%;}

.desktop #canvas > * {clear:both;}

.desktop #canvas > .menu, .view {padding:2px;padding-bottom: 8px;}

.desktop #canvas > .menu {width:400px; }
.desktop #canvas > .menu .option .button {width: 70%; border-width:1px; }

.desktop .option {line-height:125%;}
#canvas > .menu.chosen {display:none;}
.developer-- #canvas > .menu.chosen {display:block;}
.mobile #canvas > .menu.chosen {display:none;}
#canvas > .menu.chosen div {display:inline; padding:0px; margin:0px auto;}
#canvas > .menu.chosen {
     width:auto; border-right:none;  border-left:none;
     padding-top:8px;  -moz-border-radius: 0px; -webkit-border-radius: 0px;
}
#canvas > .menu.chosen .button {width:auto;}
#canvas > .menu.chosen .title {background-color:inherit; display:none; }

#canvas > .menu .title { margin-bottom: 14px; }

.desktop #canvas > .menu .title, .desktop .view .label, .dektop #session-wrapper.not-authenticated .title  { 
    -moz-border-radius: 4px; -webkit-border-radius: 4px;
    }

.desktop #canvas > .menu .title, .desktop .view .label, #session-wrapper.not-authenticated .title {
          -moz-border-radius-bottomleft: 0px;
          -moz-border-radius-bottomright: 0px;
          -webkit-border-bottom-left-radius: 0px;
          -webkit-border-bottom-right-radius: 0px;
}

#canvas {text-align: center; position:relative;}
.desktop #canvas {padding-top:2em;}
.desktop .view, .desktop .view div.grid { display:inline-block;  vertical-align: top;}
.view .grid {vertical-align: top;}


.view .menu {text-align:center;}
.view form > * {margin-top: 7px;}
.view .menu .option, .desktop div.choise .option {display:inline; margin:0px;}

/*
* .menu, * .choise {float:right;}
*/
.ipad .view form > div  {text-align:right; margin:5px 5px;}
.ipad .view table {margin-right:0px;}
.ipad .view form > div.exception  {text-align: center;}
.ipad.desktop .view .dialogue { margin:0px;}

.ipad .view form .title {text-align:right; padding-left:20px;}
.ipad .view {min-width:758px;}

.ipad input.radio {height: 35px; width:35px;}
.ipad .choose .option {text-align:right; }

.ipad .option.avoid {display:none;}

div.choise .option.avoid {display:none;}

.grid td .option {display:inline;}

.ipad .input .button.ui-icon.ui-icon-refresh {display:none}

form.xiSent .option.avoid {display:inline;}

.option > * {vertical-align:middle;}

.ipad select {font-size:inherit; font-weight:inherit; font-family:inherit;}
#session-wrapper- .select {padding-top:5px !important;}
.ipad #session-wrapper .select {padding-top:1px !important;}
.label select {border:none; text-align:center; background-color:inherit; color:white;}
.label select option {text-align:left; background-color:white; color:black;}

option.open {color:green;}

.view {position:relative;}
/*
{ -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.desktop .view .menu #close-option { background-image: url(jquery/css/ui-lightnes/images/ui-icons_ef8c08_256x240.png);  border: 1px solid #cccccc; background: #f6f6f6 url(jquery/css/ui-lightnes/images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #1c94c4;}
*/

.desktop #session-wrapper.authenticated {
    position:fixed;top:-6px; left:0px; right:0px;z-index:10;
	-moz-box-shadow: rgba(0, 0, 0, 0.199219) 0px 0px 20px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 0px 20px;
    -background: #CCCCCC none repeat scroll 0px 0px;
    border:none;
    border-bottom: 1px solid #D0DEDA;
    -moz-border-radius: 0px; -webkit-border-radius: 0px;
    text-align:left; 
}

.desktop.ipad #session-wrapper.authenticated {
    position: relative;
    top:-2px;
	-webkit-box-shadow: none;
	z-index:1;
    border-bottom: none;
}


.accordeon tr.data {display:none;}
.accordeon .collapsed {font-weight: normal;}
.accordeon table {width: 100%;}

tr.group.collapsed td {
	padding-top: 1px; padding-bottom:4px; color: darkgray;
}

.region.collapsable.collapsed.featured .label,
tr.group.collapsed.featured td {
	color: inherit;
}

.desktop .region.twocolumn {min-width:1em; width: 49%;}

.desktop .dialogue {
	text-align:  center;
}

.desktop .region.collapsable {
	border: none;
	margin: 3px;
	width: auto;
	padding-bottom: 0px;
}

.region.collapsable.collapsed > .print, .desktop .region.collapsable.collapsed > .grid,
.desktop .region.collapsable.collapsed > .text {
	display:none;
}

.region.collapsable.collapsed .label{
	background-color: #F9F5F0; color: darkgray;
	font-size: small; font-weight: normal; margin:auto;
}

.region.collapsable.collapsed .expanded-label {
	display: none;
}

.region.collapsable.expanded .collapsed-label {
	display: none;
}

.region.collapsable.expanded {
	display:block;
	background-color: inherit;
	border: 3px solid #DDC;
	border-radius: 6px;
}

.desktop.ipad #canvas {padding-top:0px;}
body.ipad {margin:0px; padding:0px;}

.desktop #session-wrapper.authenticated > * {padding:4px; vertical-align: middle;  float:left; }
.desktop #session-wrapper.authenticated .field {margin-top:2px;}
.desktop #session-wrapper.authenticated .link {float:right;}
.desktop #session-wrapper.authenticated:hover .link {display:block;}
.desktop #session-wrapper.authenticated .button { background:transparent; border:none; color:blue; text-decoration:underline;}
.desktop #session-wrapper.authenticated .button:active {color: green !important;}
.desktop .view > .label {padding:6px 50px 8px !important;}


.dialogue  div {margin: 5px; vertical-align: middle;}

.spb .dialogue  div {margin-left: 0px; margin-right: 0px; }


body.spb { padding-bottom:10px;}

.exception {color:red;}
.exception .message {color:white; background-color:red; padding:0.5em;}
.success {color:green;}
.message { max-width:500px; margin:auto;}
.step.title {-font-weight: normal;}

td .bool {
	display:block;
}

td.spin a {width:20px;
 font-weight:bold; font-size: larger; text-align:center;
}

span {padding:0px 0.1em;}
label {padding:0px 0.2em;}

.grid {text-align:center;}
table {border-spacing:2px; margin:0px auto;}

.region.for-each {
	margin-bottom: 1em;
	border: dashed 1px gray;
}

.desktop .region.default {
	margin:0.25em;
	padding-bottom: 8px;
}

.desktop .region.default {
	display: inline-block;
	border: dashed 1px silver;
}

/*
.ipad .region.collapsable { display:block; border: dashed 0px; padding-bottom: inherit;}
*/

th {padding-bottom: 6px;}
th.options {padding:0px;}
.desktop .view .dialogue {margin-left: 20px;margin-right: 20px;}


td {text-align:left;}

td span.decimal, span.decimal input, td span.int, span.int input, td.int {text-align:right;}
th span.decimal, th span.int{text-align:right;}
tfoot th {padding:1px;}

td > span , tfoot th span {display:block; padding:0px 2px;}
tr.page-control span {
	display: inline;
}
tr.group td span {display:inline;}
tr.group td {padding: 1em 0 0.75em;}

tr.delete-this span,  tr.delete-this span input{
    text-decoration: line-through !important; color: darkgray !important; background-color:inherit;
    }
tr.data .options input {padding:0px 6px;}

/*tr.is-new {background-color: lightgreen;}*/

td input.button, td input.text, td select {width:100%;}
td input.text.date {width:auto;}
td input.text { border:none;}

* .xmlname {
	color: gray;
}

.spb td input.button, .spb td input.text, .spb td select {width:90%;}


td div.option {margin:0px auto;}

td .editable input {position:relative; left:-3px;}
.ipad td .editable input[type='number'] {left:-1px;}

.datum.input span.text {display: block;}

body.spb {margin:2px;}

.spb div.choise .option {display:inline;}

.mobile.sub-page #session-wrapper {display:none;}
.mobile #canvas > div {border:none; margin: 0px auto;}
.mobile .view {padding:0px;padding-bottom: 0px;}
.mobile #session-wrapper.authenticated {text-align: center; margin:4px auto;}
.mobile #session-wrapper.authenticated div.field {padding-right: 0.5em;}
.mobile .view span, .mobile #session-wrapper.authenticated div {vertical-align: middle;}
.spb #session-wrapper.authenticated input.button {font-size: 8px; font-weight: normal;}

.mobile .view .menu {text-align:center; padding-bottom: 1px;}
.progress {display:none;}

.spb .option input.button {font-size:10px; border:none; padding:4px 2px;}
.mobile .option {padding: 0px 1px;}
body.spb, .spb input {font-size: 11px;}

.spb .date.editable input {width:6em;}

.region.pageflow  {
	display: -webkit-box;
	border-width: 0;
	overflow-x: auto;
	-webkit-box-align: stretch;
}

.region.pageflow > .region {
	display: block;
	max-width: 40%;
}

.ui-widget {
	font-family: inherit;
}

.ui-widget > div {
	font-size: 15px;
}

.region.tabs.ui-widget-content  {
	-background: inherit;
}

.tabs .ui-tabs-nav > li {
	font-size: small;
}

.tabs {
	border:none;
	margin: 0;
	background: #BBF0C0;
}

.tabs .ui-widget-header {
	background: #F9F8F1;
	border: none;
}

.tabs .ui-tabs-panel.region {
	margin: 0.5em;
}

.tabs .ui-tabs-panel.grid {
	margin-bottom: 0;
}

.tabs .ui-widget-header .ui-state-default {
	background: #F0F0DD;
	border: none;
}

.tabs .ui-widget-header .ui-tabs-selected {
	background: #BBF0C0;
	border: none;
}

.tabs .ui-widget-header .ui-state-default a {
	color: #707070;
}

.tabs .ui-widget-header .ui-tabs-selected a {
	color: #404040 ;
}

.tabs .grid.ui-tabs-panel thead tr.title {
	display: none;
}

.ui-tabs .ui-tabs-panel.region {
	padding: 1em 1.4em;
	background: #F0F0DD;
}

.ui-tabs .ui-tabs-panel.grid {
	padding: 0;
}

.text.editable textarea {
	width: 100%;
}

.test {
	color: blue !important;
}

.delimiter {
	padding: 0.5em;
}