.region.for-each.ui-tabs-panel {
    border: none;
}

td .bool {
	display:block;
}

td.spin a {width:20px;
 font-weight:bold; font-size: larger; text-align:center;
}

.grid {text-align:center;}
table {border-spacing:2px; margin:0px auto;}

th {padding-bottom: 6px;}
th.options {padding:0px;}

td {text-align:left;}

td span.decimal, span.decimal input, td span.int, span.int input, td.int {text-align:right;}
th span.decimal, th span.int{text-align:right;}
tfoot th {padding:1px;}

td > span , tfoot th span {display:block; padding:0px 2px;}
tr.page-control span {
	display: inline;
}
tr.group td span {display:inline;}
tr.group td {padding: 1em 0 0.75em;}

tr.delete-this span,  tr.delete-this span input{
    text-decoration: line-through !important; color: darkgray !important; background-color:inherit;
    }
tr.data .options input {padding:0px 6px;}

/*tr.is-new {background-color: lightgreen;}*/

td input.button, td input.text, td select {width:100%;}
td input.text.date {width:auto;}
td input.text { border:none;}

td div.option {margin:0px auto;}

td .editable input {position:relative; left:-3px;}

.grid td .option {display:inline;}

tr.group div {
	display: inline;
}
