@media print {
    
    a.button, button {
        display: none !important;
    }
    
    .desktop .view, input.text {
        -webkit-box-shadow: none !important;
    }
    
    #session-wrapper {
        display:none !important
    }
    
}