.overdue {
    background-color: white;
}

.critical {
    background-color: red;
}

.caution {
    background-color: yellow;
}

.hurry {
    background-color: lightgrey;
}

.critical .exception {
    color: white;
}

.exception {
    color:red;
}

.exception .message {
    color:white;
    background-color:red;
    padding:0.5em;
}

.success {
    color:green;
}
