.region.tabs.ui-widget-content  {
	-background: inherit;
}

.tabs .ui-tabs-nav > li {
	font-size: small;
}

.tabs {
	border:none;
	margin: 0;
	background: #BBF0C0;
}

.tabs .ui-widget-header {
	background: #F9F8F1;
	border: none;
}

.tabs .ui-tabs-panel.region {
	margin: 0.5em;
}

.tabs .ui-tabs-panel.grid {
	margin-bottom: 0;
}

.tabs .ui-widget-header .ui-state-default {
	background: #F0F0DD;
	border: none;
}

.tabs .ui-widget-header .ui-tabs-selected {
	background: #BBF0C0;
	border: none;
}

.tabs .ui-widget-header .ui-state-default a {
	color: #707070;
}

.tabs .ui-widget-header .ui-tabs-selected a {
	color: #404040 ;
}

.tabs .grid.ui-tabs-panel thead tr.title {
	display: none;
}

.ui-tabs .ui-tabs-panel.region {
	padding: 1em 1.4em;
	background: #F0F0DD;
}

.ui-tabs .ui-tabs-panel.grid {
	padding: 0;
}

.tabs .ui-tabs-nav li.empty a{
	color: silver;
}

.tabs .ui-tabs-nav li.empty.ui-state-active a {
	color: #404040;
}