<?xml version="1.0" encoding="UTF-8"?>

<context-extension xmlns="http://unact.net/xml/xi">
    

    <menu name="common" label="Общее" directory="views/common">
        <access role="user"/>
        <access role="beta"/>
    </menu>
    
    <menu name="uoauth" label="UOAuth" directory="views/uoauth">
        <access role="it"/>
        <access role="alpha"/>
    </menu>
    
    <menu name="megaport" label="Мегапорт" directory="views/megaport">
        <access role="megaport"/>
        <access role="beta"/>
    </menu>
    
    <menu name="it" label="ИТ" directory="views/it">
        
        <access role="it"/>
        
        <option href="views/etc/test.xml">
            <access role="beta"/>
        </option>
        
    </menu>
    
    <menu name="bank" label="Банк" directory="views/bank">
        <access role="osmp"/>
        <access role="main"/>
    </menu>
    
    <menu label="Касса терминалов" directory="views/bank-cassa">
        <access role="osmp"/>
        <access role="cashier"/>
    </menu>
    
    <menu label="Процессинг платежей" directory="views/op">
        <access role="op"/>
    </menu>
    
    <menu label="Клиентский Процессинг" directory="views/up">
        <access role="up"/>
    </menu>
    
    <menu name="storage" label="Склад" directory="views/storage">
        <access role="storage"/>
    </menu>
    
    <menu name="sales" label="Продажи" directory="views/sales">
        <access role="sales"/>
    </menu>
    
    <menu label="Логистика">
        <option href="views/transport/encashment-planning.xml">
            <access role="osmp"/>
            <access role="logistic"/>
        </option>
        <secure role="expeditor">
            <option href="views/transport/expeditioning.xml"/>
            <option iframe="https://renew.unact.ru/placeunload" label="Сервис Renew"/>
        </secure>
    </menu>
    
    <menu label="Клиентский сервис">
        <option href="views/etc/customer-order-create.xml">
            <access role="salesman"/>
        </option>
        <option href="views/etc/customers.xml">
            <access role="salesman"/>
        </option>
        <option href="views/etc/sales-ordering.xml">
            <access role="pre-orderer"/>
            <access role="beta"/>
        </option>
    </menu>
    
</context-extension>