<?xml version="1.0" encoding="UTF-8"?>

<context-extension xmlns="http://unact.net/xml/xi">
    
    <menu name="it" label="ИТ">
        <access role="it"/>
        <option href="views/etc/test.xml">
            <access role="beta"/>
        </option>
        <option href="views/it/sysusers.xml">
            <access role="admin"/>
        </option>
        <option href="views/it/qc-call-tasks.xml">
            <access role="qc"/>
            <access role="operator"/>
        </option>
    </menu>
    
    <menu name="bank" label="Банк" directory="views/bank">
        <access role="osmp"/>
        <access role="main"/>
    </menu>
    
    <menu label="Касса терминалов" directory="views/bank-cassa">
        <access role="osmp"/>
        <access role="cashier"/>
    </menu>
    
    <menu label="Процессинг платежей" directory="views/op">
        <access role="op"/>
    </menu>
    
    <menu label="Клиентский Процессинг" directory="views/up">
        <access role="up"/>
    </menu>
    
    <menu name="storage" label="Склад" directory="views/storage">
        <access role="storage"/>
    </menu>
    
    <menu label="Логистика">
        <option href="views/transport/encashment-planning.xml">
            <access role="osmp"/>
            <access role="logistic"/>
        </option>
        <secure role="expeditor">
            <option href="views/transport/expeditioning.xml"/>
            <option iframe="https://renew.unact.ru/placeunload" label="Сервис Renew"/>
        </secure>
    </menu>
    
    <menu label="Продажи">
        <option href="views/sales/customer-order-create.xml">
            <access role="salesman"/>
        </option>
        <option href="views/sales/customers.xml">
            <access role="salesman"/>
        </option>
        <option href="views/sales/salesmen.xml">
            <access role="sales"/>
        </option>
        <option href="views/sales/sales-sms.xml">
            <access role="sales"/>
        </option>
        <option href="views/sales/sales-ordering.xml">
            <access role="pre-orderer"/>
            <access role="beta"/>
        </option>
    </menu>
    
</context-extension>